<a href="https://colab.research.google.com/github/kelvinfoo123/Survival-Analysis/blob/main/Survivial_Analysis_Chapter_1_Exercises.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Question 1**

For the “gastricXelox” data set, use R to determine how many patients had the
event (death or progression), the number of person-weeks of follow-up time, and
the event rate per person-week.

In [2]:
# Get data 
install.packages("asaur")
library(asaur)

Installing package into ‘/usr/local/lib/R/site-library’
(as ‘lib’ is unspecified)

In [8]:
head(gastricXelox)

  timeWeeks delta
1  4        1
2  8        1
3  8        1
4  8        1
5  9        1
6 11        1

In [5]:
# Determine number of patients with event (ie. delta = 1)
library(dplyr)
gastricXelox %>% group_by(delta) %>% count()

# There are 32 patients with events.

Attaching package: ‘dplyr’


The following objects are masked from ‘package:stats’:

    filter, lag


The following objects are masked from ‘package:base’:

    intersect, setdiff, setequal, union

  delta n
1 0     16
2 1     32

In [11]:
# Number of person-weeks
Weeks = sum(gastricXelox['timeWeeks'])
Weeks

# Total person-weeks = 2866

[1] 2866

In [15]:
# Event rate per person week 
event_rate = gastricXelox %>% filter(delta == 1) %>% count() / Weeks 
event_rate

# Event rate = 0.0111

  n
1 0.01116539